PORT=3005
DATABASE_URL=postgresql://username:password@hostname:5432/dbname?sslmode=require
ADMIN_EMAIL=admin@example.com
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
